body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.ellipsis-text-1 {
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#firebaseui_container {
  height: 50px;
  display: flex;
  align-items: center;
}

.Mui-disabled .MuiOutlinedInput-notchedOutline {
  border-color: #f3f4f6 !important;
}
.Mui-disabled .MuiInputBase-input {
  cursor: not-allowed;
}
