name: Lint staged

on:
  push:
    branches: [develop, master]
  pull_request:
    branches: [develop, master]

jobs: 
  check-lint-staged: 
    runs-on: ubuntu-latest
    steps: 
    - name: Check out repository code
      uses: actions/checkout@v2
    - name: Install dependencies
      run: yarn
    - name: Check eslint and prettier
      run: yarn fix-all
       